In [1]:
x = "Ojash Shrestha"

In [3]:
x

'Ojash Shrestha'

In [4]:
y = 'Ojash Shrestha'

In [5]:
y

'Ojash Shrestha'

In [6]:
y.split()

['Ojash', 'Shrestha']

In [7]:
z = "This is the best day of my life"

In [8]:
z.split()

['This', 'is', 'the', 'best', 'day', 'of', 'my', 'life']

In [10]:
 z.split('t')

['This is ', 'he bes', ' day of my life']

In [11]:
a = '0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20'

In [12]:
a.split()

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [13]:
for a = 1 to 10: 
    a = a + 'a'

SyntaxError: invalid syntax (<ipython-input-13-ef87a24ca8d3>, line 1)

In [2]:
name = "sam"

In [3]:
name[0]

's'

In [6]:
last_letters = name[1:]

In [7]:
last_letters

'am'

In [8]:
'P' + last_letters

'Pam'

In [9]:
P + last_letters

NameError: name 'P' is not defined

In [10]:
x = "Hello, World"

In [12]:
x + " is beautiful! :) "

'Hello, World is beautiful! :) '

In [14]:
letter = 'z'

In [15]:
letter *10

'zzzzzzzzzz'

In [16]:
s = "there is a river running down the road"

In [17]:
s.split()

['there', 'is', 'a', 'river', 'running', 'down', 'the', 'road']

In [18]:
s

'there is a river running down the road'

In [19]:
s1= s.split()

In [20]:
s1

['there', 'is', 'a', 'river', 'running', 'down', 'the', 'road']

In [22]:
s2 = s.upper()

In [23]:
s2

'THERE IS A RIVER RUNNING DOWN THE ROAD'

In [25]:
s3 = s.split('o')

In [26]:
s3

['there is a river running d', 'wn the r', 'ad']

In [27]:
print('hellow')

hellow

In [28]:
my_name = "Ojash"

In [30]:
print("Hello, " + my_name)

Hello, Ojash

In [31]:
print('This is a string {} {} {}'.format('INSERTED'))

IndexError: tuple index out of range

In [32]:
a

NameError: name 'a' is not defined

In [33]:
a = 1

In [34]:
a

1

In [36]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [38]:
print("The quick fox {} {} {}". format('ate', 'our','lunch'))

The quick fox ate our lunch

In [39]:
print("The quick fox {} {} {} {}". format('ate', 'our','lunch', 'all'))

The quick fox ate our lunch all

In [41]:
print("The quick fox {a} {l} {o} {lu}.". format(a='ate', o='our',lu='lunch', l='all'))

The quick fox ate all our lunch.

In [42]:
print("The quick fox {l} {l} {l} {lu}.". format(a='ate', o='our',lu='lunch', l='all'))

The quick fox all all all lunch.

In [43]:
result = 100/77

In [44]:
result

1.2987012987012987

In [45]:
print("The result was {}".format(result))

The result was 1.2987012987012987

In [49]:
print("The result was {r:1.5f}".format(r=result))

The result was 1.29870

In [50]:
my_list = [1,2,3]

In [51]:
my_list

[1, 2, 3]

In [52]:
my_list1 = ['String', 1000,20.2]

In [53]:
my_list1

['String', 1000, 20.2]

In [54]:
len(my_list)

3

In [56]:
my_list[0]

1

In [57]:
one_list = ['one', 'two', 'three']

In [58]:
one_list

['one', 'two', 'three']

In [59]:
another_list = ['four', 'five']

In [60]:
one_list + another_list

['one', 'two', 'three', 'four', 'five']

In [61]:
new_list = one_list + another_list

In [62]:
new_list

['one', 'two', 'three', 'four', 'five']

In [63]:
list1 = "apple"

In [64]:
list1[0]

'a'

In [65]:
new_list

['one', 'two', 'three', 'four', 'five']

In [66]:
new_list[0] = "ONE ALL CAPS"

In [67]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [69]:
new_list.append('six')

In [70]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [71]:
new_list.append('seven')

In [72]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [73]:
new_list.pop()

'seven'

In [74]:
new_list.pop()

'six'

In [75]:
new_list.pop()

'five'

In [76]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [77]:
new_list.pop()

'four'

In [78]:
popped_item = new_list.pop()

In [79]:
popped_item

'three'

In [80]:
new_list

['ONE ALL CAPS', 'two']

In [81]:
new_list.pop

In [82]:
new_list

['ONE ALL CAPS', 'two']

In [83]:
new_list.append('eight')

In [84]:
new_list

['ONE ALL CAPS', 'two', 'eight']

In [85]:
new.pop(0)

NameError: name 'new' is not defined

In [86]:
new_list.pop(0)

'ONE ALL CAPS'

In [87]:
new_list

['two', 'eight']

In [114]:
letter_list = ['a','x','c','z','e']
num_list = [5,2,200,0,1]

In [103]:
letter_list.sort()
new_letter_list = letter_list

In [104]:
new_letter_list

['a', 'c', 'e', 'x', 'z']

In [115]:
num_list.sort()
sorted_num_list = num_list

In [116]:
sorted_num_list

[0, 1, 2, 5, 200]

In [117]:
sorted_num_list.reverse()

In [118]:
sorted_num_list

[200, 5, 2, 1, 0]

In [119]:
#Methods to know

In [121]:
#Append 
#Pop
#Sort
#Reverse

In [161]:
#22. Dictionaries in Python

In [124]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [125]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [126]:
my_restaurant = {'pizza':'Rs. 1000','Chicken Momo': 'Rs. 280', 'Virgin Mojito': 'Rs. 460'}

In [127]:
my_restaurant

{'Chicken Momo': 'Rs. 280', 'Virgin Mojito': 'Rs. 460', 'pizza': 'Rs. 1000'}

In [128]:
my_restaurant['Chicken Momo']

'Rs. 280'

In [129]:
menu = {'Momo':{'Chicken Momo':150, 'Chicken Jhol Momo':200, 'Kothey Momo': 200}, 'Biryani':{'Mutton Biryani':500, 'Shrimp Biryani':800}}

In [130]:
menu

{'Biryani': {'Mutton Biryani': 500, 'Shrimp Biryani': 800},
 'Momo': {'Chicken Jhol Momo': 200, 'Chicken Momo': 150, 'Kothey Momo': 200}}

In [131]:
menu['Momo']

{'Chicken Jhol Momo': 200, 'Chicken Momo': 150, 'Kothey Momo': 200}

In [132]:
menu['Biryani']

{'Mutton Biryani': 500, 'Shrimp Biryani': 800}

In [134]:
menu['Biryani']['Mutton Biryani']

500

In [138]:
d={'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [139]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}}

In [140]:
d['k1']

123

In [142]:
d['k2']

[0, 1, 2]

In [149]:
e={'k1':123, 'k2':[5,3,9], 'k3':{'insidekey':100}}

In [150]:
e

{'k1': 123, 'k2': [5, 3, 9], 'k3': {'insidekey': 100}}

In [151]:
e['k1']

123

In [152]:
e['k2']

[5, 3, 9]

In [154]:
#Second array seems to act like the position of the arrow such that at 0 is the value 5
e['k2'][0]

5

In [155]:
e['k3']['insidekey']

100

In [156]:
f = {'key1': ['a', 'b','c']}

In [157]:
f['key1']

['a', 'b', 'c']

In [158]:
f['key1'][0]

'a'

In [159]:
f['key1'][2].upper()

'C'

In [160]:
f['key1'][1].upper()

'B'

In [163]:
mylist = f['key1']

In [165]:
mylist

['a', 'b', 'c']

In [166]:
letter = mylist[0]

In [167]:
letter

'a'

In [168]:
letter.upper()

'A'

In [169]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}}

In [170]:
z = {'key1':100,'key2': 200}

In [171]:
z

{'key1': 100, 'key2': 200}

In [172]:
z['key3'] = 300

In [173]:
z

{'key1': 100, 'key2': 200, 'key3': 300}

In [177]:
z['key1'] = 'New Value'

In [178]:
z

{'key1': 'New Value', 'key2': 200, 'key3': 300}

In [179]:
z = {'key1': 100, 'key2': 200, 'key3': 300}

In [180]:
z

{'key1': 100, 'key2': 200, 'key3': 300}

In [181]:
z.keys()

dict_keys(['key1', 'key2', 'key3'])

In [184]:
z.values()

dict_values([100, 200, 300])

In [185]:
z.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300)])

In [187]:
#dict_items([('key1', 100), ('key2', 200), ('key3', 300)]) is in paranthesis -> thus tuples

In [188]:
#Tuples Example Below

In [191]:
#This is a list since it starts and ends with [] ie square brackets
y = ['o',5,9]

In [192]:
y

['o', 5, 9]

In [193]:
#This is an example of tuple for it uses parantheses ()

In [194]:
#Tuple is immutable -> comes from the word mutable henceforth, immutable meaning it can't change

In [196]:
#In the beginning tuple may not be of much use but as you become a seasoned programmer 
#you'd use tuple alot to pass around object making sure of data integrity and the values aren't reassinged and change

In [197]:
o = ('p','i',8)

In [198]:
o

('p', 'i', 8)

In [199]:
y[0]='p'

In [200]:
y

['p', 5, 9]

In [201]:
o[0]='u'

TypeError: 'tuple' object does not support item assignment

In [202]:
#the error since the tuple value can't be changed or reassigned

In [203]:
#Sets in Python

In [204]:
myset = set()

In [205]:
myset

set()

In [206]:
myset.add(5)

In [207]:
myset

{5}

In [208]:
myset.add(9)

In [209]:
myset

{5, 9}

In [210]:
myset.add(7)

In [211]:
myset

{5, 7, 9}

In [213]:
myset.add(5)

In [214]:
myset

{5, 7, 9}

In [215]:
#Set won't repeat your values

In [217]:
new_list = [1,1,1,1,1,3,3,3,3,3,2,2,2,2]

In [218]:
set(new_list)

{1, 2, 3}

In [220]:
newset = set()

In [222]:
newset.add(6)

In [223]:
newset

{6}

In [225]:
newset.add(0)

In [226]:
newset

{0, 6}

In [228]:
list2 = [98273444,23084,8,8,8,8,8,9,9,9,9,9]

In [229]:
set(list2)

{8, 9, 23084, 98273444}

In [230]:
newst2 = set(list2)

In [231]:
newst2

{8, 9, 23084, 98273444}

In [242]:
#Booleans

In [232]:
True

True

In [234]:
False

False

In [235]:
type(True)

bool

In [236]:
type(newst2)

set

In [237]:
type(mylist)

list

In [238]:
1>2

False

In [239]:
2>1

True

In [240]:
1 == 2/1

False

In [241]:
1 == 10/10

True

In [243]:
b = None

In [244]:
b

In [245]:
%%writefile myfile.txt
Hello this is a text file 
this is the second line 
this is the third line

Writing myfile.txt

In [246]:
myfile = open('myfile.txt')

In [247]:
myfile1 = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [248]:
pwd

'C:\\Users\\FX53V\\Projects\\Zero to Hero in Python'

In [249]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line '

In [250]:
myfile.seek(0)

0

In [251]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line '

In [252]:
myfile.seek(0)

0

In [253]:
#Seek is taking the cursor to 0

In [254]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line '

In [255]:
myfile.read()

''

In [257]:
myfile.seek(0)

0

In [258]:
myfile.read()

'Hello this is a text file \nthis is the second line \nthis is the third line '

In [1]:
v = 2

In [2]:
v

2

In [3]:
a= 1

In [4]:
a

1