In [1]:
#List Comprehensions

In [2]:
#Unique way of quickly creating a list with python

In [1]:
mystring = 'hello'

In [2]:
mylist = []

In [3]:
for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mystring2 = 'ojash'
mylist = [letter for letter in mystring2]

In [8]:
mylist

['o', 'j', 'a', 's', 'h']

In [9]:
mylist2 = [num for num in range(0,11)]

In [10]:
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
mylist3 = [num**2 for num in range (0,12)]

In [12]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [13]:
mylist4 = [x for x in range(0,11) if x%2==0]

In [14]:
mylist4

[0, 2, 4, 6, 8, 10]

In [15]:
mylist5 = [x**3 for x in range(0,11) if x%2==0]

In [16]:
mylist5

[0, 8, 64, 216, 512, 1000]

In [26]:
celcius = [1,12,30,40]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [19]:
fahrenheit

[33.8, 53.6, 86.0, 104.0]

In [29]:
fahrenheit2 = []

for temp in celcius:
    fahrenheit2.append(((9/5)*temp + 32))

In [30]:
fahrenheit2

[33.8, 53.6, 86.0, 104.0]

In [31]:
results = [x if x%2==0 else 'ODD' for x in range(0,12)]

In [32]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD']

In [33]:
mylist = []

for x in [2,4,5]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [34]:
mylist

[200, 400, 600, 400, 800, 1200, 500, 1000, 1500]

In [35]:
mylist = []

for x in [2,4,5]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [36]:
mylist

[2, 20, 2000, 4, 40, 4000, 5, 50, 5000]

In [37]:
mylist2 = [x*y for x in [1,2,3] for y in [10,100,1000]]

In [38]:
mylist2

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]